NEXT_PUBLIC_SUPABASE_URL=https://rzvdsxanbhdhlqllrwhx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
NEXT_PUBLIC_ROOT_DOMAIN=streamingos.mx
SUPERADMIN_DOMAIN=superadmin.streamingos.mx
SUPERADMIN_EMAIL=
VERCEL_TOKEN=
VERCEL_PROJECT_ID=
ANTHROPIC_API_KEY=
ANTHROPIC_VISION_MODEL=claude-sonnet-4-6
